<div class="content">

    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

    <div class="row header">
      <h1>Books Catalog</h1>
      <button type="button" class="btn btn-default waves-light" (click)="addBook()" mdbRippleRadius>Add Book</button>
    </div>

    <table *ngIf="books.length > 0" class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>ISBN</th>
          <th>Genre</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <td class="select" (click)="selectBook(book)">{{book.title}}</td>
          <td class="select" (click)="selectBook(book)">{{book.author}}</td>
          <td class="select" (click)="selectBook(book)">{{book.isbn}}</td>
          <td class="select" (click)="selectBook(book)">{{book.genre ? genreMap[book.genre].val : ''}}</td>
          <td class="select" (click)="selectBook(book)">{{book.price}}</td>
          <td class="select remove" (click)="removeBook(book)"><i class="fa fa-trash-o" aria-hidden="true"></i>
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <label><b>Total:</b> {{this.total}}</label>
    </div>

    <div class="buttom">
        <button *ngIf="this.page > 0" type="button" class="btn btn-outline-info waves-light" (click)="pagination('prev')" mdbRippleRadius>
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </button>
        <label>Page {{this.page + 1}}</label>
        <button *ngIf="this.hasMore" type="button" class="btn btn-outline-info waves-light" (click)="pagination('next')" mdbRippleRadius>
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </button>
    </div>

</div>
