.content {
    padding: 40px 60px;

    table {

        margin-top: 40px; 

        .select:hover {
            cursor: pointer;
        }
    }

    .buttom {
        margin-top: 10px;
        text-align: center;

        label {
            text-align: center;
            margin: 15px 25px;
        }
    }
}