.content {
    padding: 40px 60px;

    .book-details {
        margin-top: 30px;

        .row {
            margin-top: 10px;
        }

        label {
            max-width: 60%;
        }

        .category {
            font-weight: 500;
        }
    }
}