<div class="content">

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

  <div class="row header">
      <h1>Book Details</h1>
      <button type="button" class="btn btn-default waves-light" (click)="goBack()" mdbRippleRadius>Back</button>
  </div>

  <div class="book-details" *ngIf="bookLoaded">
    <div class="row">
      <label class="col-sm-2 category">Title:</label>
      <label class="col-sm-10">{{book.title}}</label>
    </div>

    <div class="row">
      <label class="col-sm-2 category">Author:</label>
      <label class="col-sm-10">{{book.author}}</label>
    </div>

    <div class="row">
      <label class="col-sm-2 category">ISBN:</label>
      <label class="col-sm-10">{{book.isbn}}</label>
    </div>

    <div class="row">
      <label class="col-sm-2 category">Price</label>
      <label class="col-sm-10">{{book.price}}</label>
    </div>

    <div class="row">
      <label class="col-sm-2 category">Publication Date:</label>
      <label class="col-sm-10">{{book.publicationDate}}</label>
    </div>

    <div class="row">
      <label class="col-sm-2 category">Genre:</label>
      <label class="col-sm-10">{{genreMap[book.genre].val}}</label>
    </div>

    <div class="row">
      <label class="col-sm-2 category">Description:</label>
      <label class="col-sm-10">{{book.description}}</label>
    </div>
  </div>

</div>
