.content {
    padding: 40px 60px;

    .button-header {
        position: absolute;
        right: 0;
        margin-right: 60px;
    }

    .book-details {

        padding: 80px 120px;

        h2 {
            text-align: center;
        }

        .side-form {
            padding: 25px;

            label {
                margin-top: 10px;
            }

            .description-div {
                margin-top: 10px;
            }

            dp-date-picker {
                width: 100%;
            }
        }
    }
}
