<div class="content">

    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

    <div class="button-header">
        <div class="row">
            <button type="button" class="btn btn-default waves-light" (click)="save()" mdbRippleRadius>Save</button>
            <button type="button" class="btn btn-default waves-light" (click)="goBack()" mdbRippleRadius>Cancel</button>
        </div>
    </div>

    <div class="book-details">
        <h2>Add Book</h2>

        <div class="row">
            <div class="col-sm-6 side-form">
                <div class="md-form">
                    <input mdbActive 
                      type="text" 
                      id="form2" 
                      class="form-control"
                      [(ngModel)]="book.title">
                    <label for="form2">Title (required)</label>
                </div>

                <div class="md-form">
                    <input mdbActive 
                      type="text" 
                      id="form3" 
                      class="form-control"
                      [(ngModel)]="book.author">
                    <label for="form3">Author (required)</label>
                </div>

                <div class="md-form">
                    <input mdbActive 
                      type="number" 
                      id="form4" 
                      class="form-control"
                      [(ngModel)]="book.isbn">
                    <label for="form4">ISBN (required)</label>
                </div>

                <div class="md-form">
                    <input mdbActive 
                      type="number" 
                      id="form5" 
                      class="form-control"
                      [(ngModel)]="book.price">
                    <label for="form5">Price</label>
                </div>

                <dp-date-picker placeholder="Publication Date" [(ngModel)]="selectedDate" [config]="datePickerConfig"></dp-date-picker>
            </div>

            <div class="col-sm-6 side-form">
                <div class="row">
                    <div class="dropdown" dropdown>
                        <button dropdownToggle class="btn btn-outline-default dropdown-toggle waves-light" type="button" mdbRippleRadius>
                            Select Genre
                        </button>
                    
                        <div class="dropdown-menu dropdown-default">
                            <div *ngFor="let genre of genreMap">
                                <a class="dropdown-item" (click)="selectedGenre = genre">{{genre.val}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <label *ngIf="selectedGenre.val">{{selectedGenre.val}}</label>
                    </div>
                </div>

                <div class="md-form description-div">
                    <textarea 
                      type="text" 
                      id="form6" 
                      class="md-textarea" 
                      style="height: 150px" 
                      [(ngModel)]="book.description"
                      mdbActive></textarea>
                    <label for="form6">Description</label>
                </div>
            </div>  
        </div>
    </div>


</div>
